@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");

.Display {
  font-family: "Roboto Mono", monospace;
  background-color: black;
  color: tomato;
  font-size: 8rem;
  padding: 0 0.5ch 0.1ch;
  position: relative;
}
